/.idea
/.vs
/.vscode
/.vsconfig
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp.csproj.DotSettings
/Library
/Logs
/obj
/Packages
/KitchenChaos.sln
/KitchenChaos.sln.DotSettings.user
/Temp
/UserSettings